.homeContainer
  width 100%
  background-color #eee
  // touch-action: none
  .home_header
    width 100%
    display flex
    padding 20px 40px
    align-items center
    background-color #fff
    img
      width 160px
      height 50px
    .header_searchbox
      width 500px
      height 65px
      text-align center
      background-color #ededed
      margin 0 20px
      border-radius 10px
      line-height 65px
      i
        font-size 40px
        color #666
        margin-right 10px
      span
        color #666
        font-size 32px
    .header_login
      width 80px
      height 40px
      border 2px solid #DD1A21
      color #DD1A21
      font-size 16px
      text-align center
      line-height 40px
      border-radius 10px